body{
    font-family: 'Orbitron', sans-serif;
    background-color: #345830;
}

h1{
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 5px;
}

.bmiInput{
    border: black solid 5px;
    padding: 10px;
    margin: 10px;
}
.calInput{
    border: black solid 5px;
    padding: 15px;
    margin: 10px;
}

#calResults{
    text-align: center;
    color: white;
    border: white 10px solid;
    padding: 7px;
    margin: 10px;
}

.hidden{
    display: none;
}

.show{
    display: block;
}